In [73]:
import pandas as pd

In [78]:
page = pd.read_csv('.\page_data.csv')
page = page[~page.page.str.startswith('Template:')]
page.reset_index(inplace=True, drop=True)
page

,page,country,rev_id
0,Bir I of Kanem,Chad,355319463
1,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
2,Yos Por,Cambodia,393822005
3,Julius Gregr,Czech Republic,395521877
4,Edvard Gregr,Czech Republic,395526568
...,...,...,...
46696,Yahya Jammeh,Gambia,807482007
46697,Lucius Fairchild,United States,807483006
46698,Fahd of Saudi Arabia,Saudi Arabia,807483153
46699,Francis Fessenden,United States,807483270
46700,Ajay Kannoujiya,India,807484325

In [8]:
wpds = pd.read_csv('.\WPDS_2020_data.csv')
wpds

,FIPS,Name,Type,TimeFrame,Data (M),Population
0,WORLD,WORLD,World,2019,7772.850,7772850000
1,AFRICA,AFRICA,Sub-Region,2019,1337.918,1337918000
2,NORTHERN AFRICA,NORTHERN AFRICA,Sub-Region,2019,244.344,244344000
3,DZ,Algeria,Country,2019,44.357,44357000
4,EG,Egypt,Country,2019,100.803,100803000
...,...,...,...,...,...,...
229,WS,Samoa,Country,2019,0.200,200000
230,SB,Solomon Islands,Country,2019,0.715,715000
231,TO,Tonga,Country,2019,0.099,99000
232,TV,Tuvalu,Country,2019,0.010,10000
233,VU,Vanuatu,Country,2019,0.321,321000

In [22]:
wpds.Type.unique()

array(['World', 'Sub-Region', 'Country'], dtype=object)

In [25]:
regional = wpds[(wpds.Type == 'World') | (wpds.Type == 'Sub-Region')]
regional

,FIPS,Name,Type,TimeFrame,Data (M),Population
0,WORLD,WORLD,World,2019,7772.850,7772850000
1,AFRICA,AFRICA,Sub-Region,2019,1337.918,1337918000
2,NORTHERN AFRICA,NORTHERN AFRICA,Sub-Region,2019,244.344,244344000
10,WESTERN AFRICA,WESTERN AFRICA,Sub-Region,2019,401.115,401115000
27,EASTERN AFRICA,EASTERN AFRICA,Sub-Region,2019,444.970,444970000
48,MIDDLE AFRICA,MIDDLE AFRICA,Sub-Region,2019,179.757,179757000
58,SOUTHERN AFRICA,SOUTHERN AFRICA,Sub-Region,2019,67.732,67732000
64,NORTHERN AMERICA,NORTHERN AMERICA,Sub-Region,2019,368.193,368193000
67,LATIN AMERICA AND THE CARIBBEAN,LATIN AMERICA AND THE CARIBBEAN,Sub-Region,2019,651.036,651036000
68,CENTRAL AMERICA,CENTRAL AMERICA,Sub-Region,2019,178.611,178611000
77,CARIBBEAN,CARIBBEAN,Sub-Region,2019,43.233,43233000
95,SOUTH AMERICA,SOUTH AMERICA,Sub-Region,2019,429.191,429191000
109,ASIA,ASIA,Sub-Region,2019,4625.927,4625927000
110,WESTERN ASIA,WESTERN ASIA,Sub-Region,2019,280.927,280927000
129,CENTRAL ASIA,CENTRAL ASIA,Sub-Region,2019,74.961,74961000
135,SOUTH ASIA,SOUTH ASIA,Sub-Region,2019,1967.131,1967131000
145,SOUTHEAST ASIA,SOUTHEAST ASIA,Sub-Region,2019,661.845,661845000
157,EAST ASIA,EAST ASIA,Sub-Region,2019,1641.063,1641063000
166,EUROPE,EUROPE,Sub-Region,2019,746.622,746622000
167,NORTHERN EUROPE,NORTHERN EUROPE,Sub-Region,2019,105.990,105990000
168,Channel Islands,Channel Islands,Sub-Region,2019,0.172,172000
179,WESTERN EUROPE,WESTERN EUROPE,Sub-Region,2019,195.479,195479000
189,EASTERN EUROPE,EASTERN EUROPE,Sub-Region,2019,291.902,291902000
200,SOUTHERN EUROPE,SOUTHERN EUROPE,Sub-Region,2019,153.251,153251000
216,OCEANIA,OCEANIA,Sub-Region,2019,43.155,43155000

In [26]:
country = wpds[wpds.Type == 'Country']
country

    FIPS             Name     Type  TimeFrame  Data (M)  Population
3     DZ          Algeria  Country       2019    44.357    44357000
4     EG            Egypt  Country       2019   100.803   100803000
5     LY            Libya  Country       2019     6.891     6891000
6     MA          Morocco  Country       2019    35.952    35952000
7     SD            Sudan  Country       2019    43.849    43849000
..   ...              ...      ...        ...       ...         ...
229   WS            Samoa  Country       2019     0.200      200000
230   SB  Solomon Islands  Country       2019     0.715      715000
231   TO            Tonga  Country       2019     0.099       99000
232   TV           Tuvalu  Country       2019     0.010       10000
233   VU          Vanuatu  Country       2019     0.321      321000

[209 rows x 6 columns]

In [64]:
import requests
headers = {
    'User-Agent': 'https://github.com/kevSweet',
    'From': 'ksweet1@uw.edu'
}

def api_call(endpoint,revids):
    call = requests.get(endpoint + revids, headers=headers)
    response = call.json()
    return response

In [65]:
ores_base_url = 'https://ores.wikimedia.org/v3/scores/enwiki?models=articlequality&revids='
rev_ids = '355319463|393276188'

In [107]:
test = api_call(ores_base_url, rev_ids)
test

{'enwiki': {'models': {'articlequality': {'version': '0.8.2'}},
  'scores': {'355319463': {'articlequality': {'score': {'prediction': 'Stub',
      'probability': {'B': 0.005643168767502225,
       'C': 0.005641424870624224,
       'FA': 0.0010757577110297029,
       'GA': 0.001543343686495854,
       'Start': 0.010537503531047517,
       'Stub': 0.9755588014333005}}}},
   '393276188': {'articlequality': {'score': {'prediction': 'Stub',
      'probability': {'B': 0.008182590350064387,
       'C': 0.00889480723831463,
       'FA': 0.0013360623544989905,
       'GA': 0.002367361886443145,
       'Start': 0.0455054831381552,
       'Stub': 0.9337136950325238}}}}}}}

In [155]:
rev_strings = page['rev_id'].values.astype(str)
rev_strings

array(['355319463', '393276188', '393822005', ..., '807483153',
       '807483270', '807484325'], dtype='<U21')

In [161]:
def retrieve_data(rev_strings, points=50):
    data = []
    start = 0
    stop = points
    while len(page[start:stop]) > 0:
        data.append(api_call(ores_base_url, '|'.join(rev_strings[start:stop])))
        start += points
        stop += points
    return data

predictions = retrieve_data(rev_strings)
predictions

KeyboardInterrupt:

In [183]:
scored = pd.DataFrame(columns=['rev_id', 'prediction'])
not_scored = pd.DataFrame(columns=['rev_id'])

for query in predictions:
    for value, key in query['enwiki']['scores'].items():
        if key['articlequality'].get('score') is not None:
            prediction = key['articlequality']['score']['prediction']
            scored = scored.append({'rev_id': value, 'prediction': prediction}, ignore_index=True)
        else:
            not_scored = not_scored.append({'rev_id': value}, ignore_index=True)

In [188]:
scored['rev_id'] = pd.to_numeric(scored['rev_id'])
scored

          rev_id prediction
0      355319463       Stub
1      393276188       Stub
2      393822005       Stub
3      395521877       Stub
4      395526568       Stub
...          ...        ...
46420  807481636          C
46421  807482007         GA
46422  807483006          C
46423  807483153         GA
46424  807483270          C

[46425 rows x 2 columns]

In [189]:
not_scored

        rev_id
0    516633096
1    550682925
2    627547024
3    636911471
4    669987106
..         ...
271  807336308
272  807367030
273  807367166
274  807479587
275  807484325

[276 rows x 1 columns]

In [190]:
not_scored.to_csv('not_scored_log.csv')

In [215]:
merged = pd.merge(page, scored, on=['rev_id'], how='inner')
merged = pd.merge(merged, country, left_on='country', right_on='Name', how='outer')
merged

,page,country,rev_id,prediction,FIPS,Name,Type,TimeFrame,Data (M),Population
0,Bir I of Kanem,Chad,355319463.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
1,Abdullah II of Kanem,Chad,498683267.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
2,Salmama II of Kanem,Chad,565745353.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
3,Kuri I of Kanem,Chad,565745365.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
4,Mohammed I of Kanem,Chad,565745375.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
...,...,...,...,...,...,...,...,...,...,...
46446,NaN,NaN,NaN,NaN,PF,French Polynesia,Country,2019.0,0.280,280000.0
46447,NaN,NaN,NaN,NaN,GU,Guam,Country,2019.0,0.175,175000.0
46448,NaN,NaN,NaN,NaN,NC,New Caledonia,Country,2019.0,0.295,295000.0
46449,NaN,NaN,NaN,NaN,PW,Palau,Country,2019.0,0.018,18000.0
46450,NaN,NaN,NaN,NaN,WS,Samoa,Country,2019.0,0.200,200000.0

In [217]:
nomatch = merged[merged.isna().any(axis=1)]
nomatch

,page,country,rev_id,prediction,FIPS,Name,Type,TimeFrame,Data (M),Population
488,Julius Gregr,Czech Republic,395521877.0,Stub,NaN,NaN,NaN,NaN,NaN,NaN
489,Edvard Gregr,Czech Republic,395526568.0,Stub,NaN,NaN,NaN,NaN,NaN,NaN
490,Miroslav Poche,Czech Republic,672862914.0,Stub,NaN,NaN,NaN,NaN,NaN,NaN
491,Vojtěch Mynář,Czech Republic,673008587.0,Stub,NaN,NaN,NaN,NaN,NaN,NaN
492,Jan Malypetr,Czech Republic,704424304.0,Stub,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
46446,NaN,NaN,NaN,NaN,PF,French Polynesia,Country,2019.0,0.280,280000.0
46447,NaN,NaN,NaN,NaN,GU,Guam,Country,2019.0,0.175,175000.0
46448,NaN,NaN,NaN,NaN,NC,New Caledonia,Country,2019.0,0.295,295000.0
46449,NaN,NaN,NaN,NaN,PW,Palau,Country,2019.0,0.018,18000.0
46450,NaN,NaN,NaN,NaN,WS,Samoa,Country,2019.0,0.200,200000.0

In [218]:
nomatch.to_csv('wp_wpds_countries-no_match.csv')

In [219]:
merged = merged[~merged.isna().any(axis=1)]
merged

,page,country,rev_id,prediction,FIPS,Name,Type,TimeFrame,Data (M),Population
0,Bir I of Kanem,Chad,355319463.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
1,Abdullah II of Kanem,Chad,498683267.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
2,Salmama II of Kanem,Chad,565745353.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
3,Kuri I of Kanem,Chad,565745365.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
4,Mohammed I of Kanem,Chad,565745375.0,Stub,TD,Chad,Country,2019.0,16.877,16877000.0
...,...,...,...,...,...,...,...,...,...,...
46414,Rita Sinon,Seychelles,800323154.0,Stub,SC,Seychelles,Country,2019.0,0.098,98000.0
46415,Sylvette Frichot,Seychelles,800323798.0,Stub,SC,Seychelles,Country,2019.0,0.098,98000.0
46416,May De Silva,Seychelles,800969960.0,Start,SC,Seychelles,Country,2019.0,0.098,98000.0
46417,Vincent Meriton,Seychelles,802051093.0,Stub,SC,Seychelles,Country,2019.0,0.098,98000.0
46418,Marie-Louise Potter,Seychelles,804209620.0,Stub,SC,Seychelles,Country,2019.0,0.098,98000.0

In [220]:
merged = merged.rename(columns={"page": "article_name", "rev_id": "revision_id", 
                                "prediction": "article_quality_est.", "Population": "population"})
merged.drop(columns=['FIPS', 'Name', 'Type', 'TimeFrame', 'Data (M)'])
merged = merged.reindex(columns=["country", "article_name", "revision_id", "article_quality_est.",
                                 "population"])
merged

,country,article_name,revision_id,article_quality_est.,population
0,Chad,Bir I of Kanem,355319463.0,Stub,16877000.0
1,Chad,Abdullah II of Kanem,498683267.0,Stub,16877000.0
2,Chad,Salmama II of Kanem,565745353.0,Stub,16877000.0
3,Chad,Kuri I of Kanem,565745365.0,Stub,16877000.0
4,Chad,Mohammed I of Kanem,565745375.0,Stub,16877000.0
...,...,...,...,...,...
46414,Seychelles,Rita Sinon,800323154.0,Stub,98000.0
46415,Seychelles,Sylvette Frichot,800323798.0,Stub,98000.0
46416,Seychelles,May De Silva,800969960.0,Start,98000.0
46417,Seychelles,Vincent Meriton,802051093.0,Stub,98000.0
46418,Seychelles,Marie-Louise Potter,804209620.0,Stub,98000.0

In [ ]:
merged.to_csv('wp_wpds_politicians_by_country.csv')